#vanta{
    z-index:-1 ;
    left: 0;
    right: 0;
    width:100%;
    height:100%;
    object-fit:contain;
    position:absolute;
    margin:auto;
}

#welcome{
    box-sizing: border-box;
    /*display:block;*/
    /*top:30%;*/
    bottom:60%;
    background-color: white;
    color:black;
    font-weight:400;
    border-radius:1em;
    padding:5px 10px 5px 10px;
    max-width:600px;
    margin:0 auto;
    font-size:50px;
    position:absolute;
    font-weight:bold;
}

.footer {
    background-color: white;
    position: fixed;
}

#welcomeList {
    z-index: 1;
}

ul#welcomeList {
    margin-top: 10px;
    top: 40%;
    box-sizing: border-box;
    position: absolute;
    list-style: none;
    position: absolute;
    padding: 0 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    /*    left:10%;
    right:10%;*/
}
ul#welcomeList > li{
    background-color:white;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0 10px 10px 10px;
    padding: 0 15px 5px 15px;
    font-size:40px;
    /*font-weight:bold;*/
    border-radius:1em;
    text-align:center;
}

ul#welcomeList > li > a{
    color: black;
    text-decoration: none;
}

.welcomeTitle{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.button-38 {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-38:hover {
    background-color: rgb(249,250,251);
}

.button-38:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-38:focus-visible {
    box-shadow: none;
}
