@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="/Pages/PageDesign/css/Shared.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script>
window.addEventListener('DOMContentLoaded', () => {
    VANTA.NET({
        el: "#vanta",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x0,
        backgroundColor: 0xe8e8e8,
        points: 12.00,
        maxDistance: 26.00,
        spacing: 16.00,
        showDots: false
    })
})
</script>

<div class="text-center welcomeTitle" id="vanta">
    <h1 class="display-4 justify-content-center align-items-center text-center" id="welcome" >Welcome to Duckkeyboards</h1>
        <ul class="justify-content-center align-items-center text-center" id="welcomeList">
        <li>
            <a>Keyboards</a>
        </li>
        <li>
            <a>Keycaps</a>
        </li>
        <li>
            <a>Switches</a>
        </li>
    </ul>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@*<div class="text-center welcomeList">
    <ul class="justify-content-center align-items-center text-center" id="welcomeList">
        <li>
            <a>Keyboards</a>
        </li>
        <li>
            <a>Keycaps</a>
        </li>
        <li>
            <a>Switches</a>
        </li>
    </ul>
</div>*@
