@page
@model RazorPagesMovie.Pages.Listings.EditModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.Listing.content);
}

<h1>Edit</h1>

@if(TempData["message"] != null){
    <p><font color="red">@TempData["message"]</font></p>
}

<h4>Listing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Listing.listingID" />
            <input type="hidden" asp-for="Listing.content" />
            <div class="form-group">
                <label asp-for="Listing.itemName" class="control-label"></label>
                <input asp-for="Listing.itemName" class="form-control" />
                <span asp-validation-for="Listing.itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.weight" class="control-label"></label>
                <input asp-for="Listing.weight" class="form-control" />
                <span asp-validation-for="Listing.weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.price" class="control-label"></label>
                <input asp-for="Listing.price" class="form-control" />
                <span asp-validation-for="Listing.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.colour" class="control-label"></label>
                <input asp-for="Listing.colour" class="form-control" />
                <span asp-validation-for="Listing.colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.imageName" class="control-label"></label>
                <input asp-for="Listing.imageName" class="form-control" />
                <span asp-validation-for="Listing.imageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.itemType" class="control-label"></label>
                <select asp-for="Listing.itemType" class="form-control" />
                    <option value="keyboard">Keyboard</option>
                    <option value="keycap">Key Cap</option>
                    <option value="switch">Switch</option>
                <span asp-validation-for="Listing.itemType" class="text-danger"></span>
            </div>
            <br />
@*            <div class="form-group">
                <label asp-for="Listing.content" class="control-label"></label>
                <input asp-for="Listing.content" class="form-control" />
                <span asp-validation-for="Listing.content" class="text-danger"></span>
            </div>*@
            @{
                System.Diagnostics.Debug.WriteLine("AAAAAAAA" + photoPath);
                var path = Url.Content(photoPath);
            }
               <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                 <input asp-for="Photo" class="form-control" type="file" id="inputFile"/>
                <img id="image_upload_preview" src=@path alt="" style="height: 200px;" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
